.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;

  font-size: 20px;

  padding: 20px;

  background-color: #ede5fa;
  border-top: 1px solid #420e8c;
  border-bottom: 1px solid #420e8c;
}

.navigation__link {
  text-decoration: none;
  border-bottom: 1px solid transparent;

  transition: all 0.3s;
}

.navigation__link.active {
  opacity: 0.5;
  border-bottom: 1px solid;
  cursor: default;
}

.navigation__link:hover {
  opacity: 0.6;
  border-bottom: 1px solid;
}
